
*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu",sans-serif;
    box-sizing: border-box;
  }
body{
    background-color:rgb(247, 244, 244);
    


};
.first-1{
    padding: 10px 30px;    
    padding-left: 15px;
    

}
.image-1{

    padding: 30px 30px;    
    padding-left: 15px;
    background-image: url(pexels-alex-andrews-1983038.jpg);
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}


.container{
    background-color:rgb(9, 9, 239);
    position: sticky;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: larger;
   
    
    
}
ul {
    margin: 0 1%;
    padding: 0px 0px 0px 0px;
    display: flex;
    
}

ul li {
    list-style: none;
    padding: 10px 20px;

}

ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:  rgb(255, 255, 255);
    position: relative;

}

ul li a::before {
    content: "";
    width: 0px;
    height: 5px;
    background:  rgb(255, 255, 255);
    position: absolute;
    top: 100%;
    left: 100;
    transition: .5s;
}
ul li a:hover::before {
    width: 50%;
    transform: translateX(100%);
}

.back-1{
    background-color: rgb(26, 131, 237); 
    padding-top: 2%;
    padding-bottom: 40%;
}


.body-1{
    background-image: url(pexels-pew-nguyen-13162096.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: chang 5s infinite ease-in-out;
    

}

@keyframes chang{

    0%
    {
      background-image: url(pexels-pew-nguyen-13162096.jpg);
    }
    25%
    {
      background-image: url(pexels-picjumbocom-196647.jpg);

    }
   
   


}

.container-2{
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    background: #b9ddc7;
    margin: 0 15px;
    padding: 80px 20px;
    border-radius: 7px;
    top: 50px;
}
h1{
    color: rgb(40, 11, 234);   
}

.skills{
    width: 100%;
    max-width: 600px;
    padding: 0px 20px;
    padding-top: 10%;
    
}


.skill-name{
    font-size: 17px;
    font-weight: bolder;
    font-weight: 700;
    color: #0c0c0c ;
    text-transform: uppercase;
    margin: 20px 20px;
    padding-top: 5%;
}

.skill-bar{
    height: 14px;
    background:rgb(15, 15, 15);
    border-radius: 3px;
}

.skill-per{
    height: 14px;
    background: #e73238;
    border-radius: 3px;
    position: relative;
    animation:fillBars 9.5s 1 ;
}

.skill-per ::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: attr(per);
    position: absolute;
    width: 32px;
    height: 20px;
    background: #f0c0c0;
    top: -30px;
    right: 0;
    transform: translateX(50%) rotate(-0deg);
    border-radius: 2px;

}

@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.map-container{
    width: 100%;
  }

  .copyright{
    background-color:black;
    padding-bottom: 10%;
  }
  
  footer{
    color: white;
    padding-left: 40%;
    padding-top: 10%;
    
  }
  .social-icons a {
    color: yellow;
    padding-left: 4%;
    margin-right: 15px; 
  }
  .social-icons a i {
    font-size: 30px; 
  } 